<!DOCTYPE html>
<html>
<head>
  <title>Map</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="main">
    <div class="navbar">
      <div class=".navbar-inner">
        <div class="container">
          <%= render "layouts/menu" %>
        </div>
      </div>
    </div>

    <div id="container" class="container-fluid">
      <%= yield %>
    </div>
  </div>

  <%= yield :scripts %>
</body>
</html>
